body {
    background: black;
    font-family: Arial, sans-serif;
}

.postcard {
    background: white;
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 40px;
}

/* HEADER */
.postcard-header {
    display: flex;
    padding: 10px;
}

.postcard-header h1 {
    width: 100%;
    margin: 0;
}

.postcard-header img {
    width: 50px;
    height: 50px;
}

/* BODY */
.postcard-body {
    display: flex;
}

.body-left,
.body-right {
    padding: 10px;
    width: 50%;
}

.body-left p:first-child {
    margin-top: 0;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid grey;
}

/* FOOTER */
.postcard-footer {
    text-align: center;
}

button {
    background-color: lightgrey;
    padding: 5px 10px;
}
